
{% if schemes_table is defined and schemes_table|length > 1 %}
Schemes
^^^^^^^

.. csv-table::
    :header-rows: 1

{% for row in schemes_table %}
  {% set row_trimmed = row|tw %}
  "{{ row_trimmed|join('", "') }}"
{% endfor %}
{% endif %}
