
{% if tables_table is defined and tables_table|length > 1 %}
Tables
^^^^^^

.. csv-table::
    :header-rows: 1
    :widths: 20, 10, 70

{% for row in tables_table %}
    "{{ row|join('", "') }}"
{% endfor %}

Another table

.. raw:: html

    <table class="clickable docutils align-default">
    <thead>
    <tr class="row-odd header"><th class="head"><p>ID</p></th>
    <th class="head"><p>Type</p></th>
    <th class="head"><p>Columns</p></th>
    </tr>
    </thead>
    <tbody>
    {% for row in tables_table %}
    <tr onClick="toggleRow(this)" class="row-{{ loop.cycle('odd', 'even') }} clickable">
    {% for column in row %}
    <td><p>{{ column }}</p></td>
    {% endfor %}
    <td class="expanded-row-content hide-row"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
    releonase of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.</p></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endif %}
