/*
tr {
    display: grid;
    justify-content: flex-start;
}
*/
tr.clickable {
    cursor: pointer;
}
tr.clickable:hover {
    background-color: #d6d6d6 !important;
}   
.expanded-row-content {
    border-top: none;
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
    color: #AEB1B3;
    font-size: 13px;
    background-color: #fff;
}
.hide-row {
    display: None;
}
