/* Expand row in Tables table to show preview of table content.
/*
/* Implementation based on https://github.com/chhikaradi1993/Expandable-table-row
*/
.expanded-row-content {
    font-size: 13px;
    /* Add scroll bar if table preview is too big */
    overflow: auto;
    /* Let column appear as additional row in next line */
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
}
.hide-row {
    display: None;
}
table.clickable tr.grid {
    /* Fixed grid of 3 columns */
    display: grid;
    grid-template-columns: repeat(1, 1.1fr) 15% repeat(1, 1fr);
}
table.clickable tr.clickable {
    /* Show pointer as cursor to highlight the row can be clicked */
    cursor: pointer;
    /* Overflow of table preview column */
    justify-content: flex-start;
}
table.nested {
    /* Padding around table preview */
    padding: 7em;
}
table.nested td {
    /* Ensure minimal distance between columns */
    padding-right: 0.3em;
}
table.nested th {
    /* Use normal font in header row of preview table */
    font-weight: normal;
}
/* Ensure we don't get double bordfer lines */
table.clickable {
    border-bottom: none;
    border-right: none;
}
table.clickable td, table.clickable th {
    border-left: none;
    border-top: none;
}
/* Not needed?
table.clickable {
    width: 100%;
}
*/

/* To be added to the audEERING theme
 *
.rst-content table.docutils:not(.field-list) tr.clickable:hover:nth-child(2n-1) td {
    background-color: #e3e3e3;
}
.rst-content table.docutils:not(.field-list) tr.clickable table.nested tr:nth-child(2n-1) td {
    background-color: red;
}
tr.clickable:hover {
    background-color: #e3e3e3;
}

Maybe this as well:

.rst-content table.docutils tbody>tr:last-child td:not(.hide-row) {
    border-bottom-width: 1px;
}
.rst-content table.docutils thead th.head {
    border-top: none;
    border-left: none;
    border-right: none;
}
*/
