/* Expand row in Tables table to show preview of table content.
/*
/* Implementation based on https://github.com/chhikaradi1993/Expandable-table-row
*/
table.clickable {
    width: 100%;
}
tr.clickable {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(1, 1.1fr) 15% repeat(1, 1fr);
    justify-content: flex-start;
}
tr.header {
    display: grid;
    grid-template-columns: repeat(1, 1.1fr) 15% repeat(1, 1fr);
}
.rst-content table.docutils thead th.head {
    border-top: none;
    border-left: none;
    border-right: none;
}
tr.clickable:hover {
    background-color: #e3e3e3;
}
.rst-content table.docutils:not(.field-list) tr.clickable:hover:nth-child(2n-1) td {
    background-color: #e3e3e3;
}
.expanded-row-content {
    border-top: none;
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
    font-size: 13px;
}
.hide-row {
    display: None;
}
